.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;

  .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    min-height: 36px;
    margin: 0 auto;

    .links{
        display: flex;
        gap: 1rem;

        .login-link{
            display: flex;
            align-items: center;
            gap: 1rem;

            span{
                font-size: 0.9rem;
                color: var(--subtitle-text-color);
            }
        }
    }
  }
}
