:root {
  // global variables
  --card-radius: 0.75rem;
  --cards-gap: 2rem;

  /* Light theme */
  --background: #faf7f5;
  --a-header-color: #555555;
  --text-color: #333333;
  --secondary-text-color: #8b5cf6;
  --card-background: #ffffff;
  --secondary-background: #f3f4f6;
  --subtitle-text-color: #555555;
  --icon-fill-color: #555555;
  --foreground: #171717;

  // crochet page variables
  --crochet-secondary-color: #89c2c7;
  --header-link-color: #e5989b;
  --crochet-card-background: #ffffff;
  --crochet-card-border: #ebe6e3;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #10192280;
    --a-header-color: #d1d5db;
    --text-color: #ffffff;
    --secondary-text-color: #1173d4;
    --subtitle-text-color: #9ca3af;
    --card-background: #1f293780;
    --secondary-background: #0b0b0b;
    --icon-fill-color: #e5e7eb;
    --foreground: #ededed;
    
    // crochet page variables
    --crochet-card-background: #2c2a29;
    --crochet-card-border: #444140;
  }
}
