.pattern-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .pattern-field {
    position: relative;
    background-color: var(--secondary-background);
    border-radius: 0.5rem;

    .pattern-field-input input {
      padding-top: 1.6rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .general-note-textarea {
      position: relative;
      background-color: color-mix(
        in srgb,
        var(--header-link-color) 20%,
        var(--overlay-mix) 100%
      );
      padding-top: 1.6rem;

      &:focus {
        background-color: color-mix(
          in srgb,
          var(--header-link-color) 40%,
          var(--overlay-mix) 100%
        );
      }

      &::placeholder {
        color: var(--button-primary-background);
      }
    }

    &:has(.separator-line),
    &:has(.space-line),
    &:has(.general-note-textarea) {
      background-color: inherit;
    }

    &:has(.separator-line) {
      padding: 2rem 0;

      &:has(.edit-button:hover) .separator-line {
        background-color: var(--button-secondary-background);
      }

      .separator-line {
        height: 2px;
        background-color: var(--crochet-card-border);
      }
    }

    &:has(.space-line) {
      &:has(.edit-button:hover) .space-line {
        border-color: var(--button-secondary-background);
      }

      .space-line {
        padding: 1.5rem 0;
        border: 2px dashed var(--crochet-card-border);
        border-radius: 0.5rem;
      }
    }

    .edit-button {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 0.8rem;
      
      &.separator,
      &.space {
        z-index: 1;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        background: var(--crochet-card-background);
        padding: 0 1rem;
      }
    }
  }
}
