.hero-wrapper {
  padding: 5rem 0;

  .cover-image {
    margin-bottom: 3rem;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .socials {
    display: flex;
    gap: 1rem;

    margin-top: 0.8rem;
    
    color: var(--icon-fill-color);

    .social-link {
      display: flex;
    
      font-size: 1.5rem;
    
      transition: all 0.2s ease;

      &:hover {
        color: var(--secondary-text-color);
      }
    }
  }
}
