.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;

  a {
    color: var(--header-link-color);

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--header-link-color);
      opacity: 0;
      transform: translateY(-4px);
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &.disabled {
    a {
      opacity: 0.5;
      text-decoration: none;
      
      &::after {
        display: none;
      }
    }
  }
}
