.page {
  display: grid;
  gap: 4rem var(--cards-gap);

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "stats stats stats"
    "patterns-section patterns-section yarns-section";

  @media (max-width: 1024px) {
    max-width: 768px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "stats"
      "patterns-section"
      "yarns-section";
    gap: var(--cards-gap) 0;
  }

  .header {
    grid-area: header;
  }

  .patterns-section-wrapper {
    grid-area: patterns-section;
  }
  .yarns-section-wrapper {
    grid-area: yarns-section;
  }

  .patterns-section-wrapper,
  .yarns-section-wrapper {
    align-self: start;
  }

  .user-name-wrapper{
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
