.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "details details image"
    "details details abbreviation"
    "content content .";

  .pattern-details {
    grid-area: details;
  }
  .pattern-content {
    grid-area: content;
  }
  .pattern-image {
    grid-area: image;
    align-self: start;
    
  }
  .pattern-abbreviation {
    grid-area: abbreviation;
    align-self: start;
  }
}
