.resume-wrapper {
  .resume-download-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--secondary-text-color);

    padding: 0.8rem 1.5rem;
    border-radius: 0.6rem;

    font-size: 1.1rem;
    font-weight: 600;
    color: white;
  }
}
