.select-type-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: none;
  border: none;
  color: var(--button-primary-background);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.separator-icon {
  width: 14px;
  height: 1.5px;
  background-color: currentColor;
}

.validate-popup-content {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;

  span {
    font-size: 0.9rem;
    color: var(--subtitle-text-color);
  }
}
