.projects-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-item {
    --radius: 0.75rem;
    background-color: var(--card-background);
    border-radius: var(--radius);

    .project-title {
      color: var(--text-color);
    }

    .project-image {
      width: 100%;
      object-fit: cover;
      border-radius: var(--radius) var(--radius) 0 0;
    }

    .project-info {
      padding: 1.5rem;
    }
  }
}
