.yarn-form {
  position: relative;
  min-height: calc(100vh - 200px);
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 101;
}

.actionButtons{
  margin-right: 3rem;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}