.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;

  background-color: var(--crochet-card-background);
  min-height: 150px;
  min-width: 100px;

  padding: 1.5rem;
  border-radius: var(--card-radius);
  border: 1px solid var(--crochet-card-border);
}
